<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Metamorphosis Design Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="#">Metamorph_iceflower</a></h1>
	    <h2><a href="http://www.metamorphozis.com/" id="metamorph">Design by Metamorphosis Design</a></h2>
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Gallery</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact </a></li>
		</ul>
	</div>
</div>
<!-- end header -->
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			<h1 class="title">Welcome To Our Website</h1>
			<p class="descr"><small>Posted on January 24th, 2008 by <a href="#">Metamorphosis Design </a></small></p>			
			<p>This website template is released under  a Creative Commons Attribution 2.5 License</p>
			    <p>We request you retain the full copyright notice below including the link to www.metamorphozis.com.<br />
			      This not only gives respect to the large amount of time given freely by the developers 
			      but also helps build interest, traffic and use of our free and paid designs. If you cannot (for good 
			      reason) retain the full copyright we request you at least leave in place the 
			      Website Templates line, with Website Templates  linked to www.metamorphozis.com. If you refuse 
			      to include even this then support may be affected.<br />
                <br />
			      You are allowed to use this design only if you agree to the following conditions:<br />
			      - You cannot remove copyright notice from this design without our permission.<br />
			      - If you modify this design it still should contain copyright because it is based on our work.<br />
			      - You may copy, distribute, modify, etc. this template as long as link to our website remains untouched.<br />
			      For support visit <a href="http://www.metamorphozis.com/contact/contact.php">http://www.metamorphozis.com/contact/contact.php</a><br />
  <br />
			      The Metamorphosis Design : 2008 </p>
		</div>
		
		<div class="post">
			<h2 class="title">Proin gravida orci porttitor </h2>
			<p class="byline"><small>Posted on March 15th, 2008 by <a href="#">admin</a> | <a href="#">Edit</a></small></p>
			<div class="entry">
				<h4><a href="#">Web Design Starter's Guide</a></h4>
	        <ol>
				<li><a href="http://www.metamorphozis.com/free_templates/free_templates.php">More Free Website Templates</a></li>
				<li><a href="http://www.metamorphozis.com/shop/flash_templates.php">Flash Templates</a></li>
                <li><a href="http://www.metamorphozis.com/website_hosting/index.php">Top Hosting Providers</a></li>
                <li><a href="http://www.metamorphozis.com/contact/contact.php">Support For Free Website Templates</a></li>
             
			</ol>
			<br />
			</div>			
	  </div>
		
		<div class="post">
			<h2 class="title">Risus Pellentesque Pharetra</h2>
			<p class="byline"><small>Posted on March 25th, 2008 by <a href="#">admin</a> | <a href="#">Edit</a></small></p>
			<div class="entry">
				<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor enim accumsan lacinia. Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. </p>
			</div>			
		</div>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>			
			<li>
				<h2>Lorem Ipsum</h2>
				<ul>
					<li><a href="#">Ornare ac, malesuada</a></li>
					<li><a href="#">Eget nonummy</a></li>
					<li><a href="#">Velit semper nisi</a></li>
					<li><a href="#">Fusce dui fringilla</a></li>
					<li><a href="#">Eget tempor eget </a></li>
				</ul>
			</li>
			<li>
				<h2>Volutpat Dolore</h2>
				<ul>
					<li><a href="#">Magna lacus bibendum </a></li>
					<li><a href="#">Velit semper  molestie</a></li>
					<li><a href="#">Nec metus sed donec</a></li>
					<li><a href="#">Magna bibendum mauris</a></li>
					<li><a href="#">Fusce dui neque fringilla</a></li>
				</ul>
			</li>
			<li>
				<h2>Lorem Ipsum</h2>
				<ul>
					<li><a href="#">Fusce dui neque fringilla</a></li>
					<li><a href="#">Eget eget nonummy</a></li>
					<li><a href="#">Magna lacus  mauris</a></li>
					<li><a href="#">Velit semper nisi molestie</a></li>
					<li><a href="#">Eget tempor nonummy</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
</div>
<!-- end page -->
<div id="footer">
	<p>Copyright &copy; 2008. <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p> 
	<p>Design by <a href="http://www.metamorphozis.com/" title="Flash Templates">Flash Templates</a>, coded by <a href="http://www.flashtemplatesdesign.com" title="Free Templates">Free Templates</a>
		</p>
</div>
</body>
</html>
